.el-table .verdict-accepted {
    background-color: #c8ffc8;
    font-weight: bold;
}

.el-table .verdict-accepted-challenged {
    background-color: #c8ffc8;
}

.el-table .verdict-failed {
    background-color: #ffc8c8;
}

.el-table .verdict-rejected {
    color: #ffc8c8;
}

.el-table .verdict-waiting {
    color: #c8c8c8;
}

.el-table .verdict-successful-challenge {
    font-weight: bold;
    background-color: #c8ffc8;
}

.el-table .verdict-unsuccessful-challenge {
    color: #00a;
}

.el-table .verdict-challenged {
    background-color: #ffc8c8;
    font-weight: bold;
}

.el-table tbody tr:hover > td {
    background-color: #e6ffff !important;
}

.el-divider__text, .el-link, .el-table {
    font-size: inherit !important;
}

body {
    font-size: 14px;
}
